# Server Port
PORT=4000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_Hwh0uNeoy9tT@ep-frosty-hat-atimqtjh-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Secret for Authentication
JWT_SECRET="super_secret_jwt_key_change_me_in_production"

# Caching & Queueing Configuration (Redis)
REDIS_URL="redis://localhost:6379"
