# Server Port
PORT=4000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@db:5432/bookmyskill?schema=public"

# JWT Secret for Authentication
JWT_SECRET="super_secret_jwt_key_change_me_in_production"

# Caching & Queueing Configuration (Redis)
REDIS_URL="redis://localhost:6379"

CLIENT_APP_URL

# Meta WhatsApp Configuration
META_WHATSAPP_ACCESS_TOKEN=""
META_WHATSAPP_PHONE_NUMBER_ID=""
META_WHATSAPP_API_VERSION="v20.0"